<app-header />

<main>
  <ul id="users">
    <!-- Only on Angular 17 -->
    @for (user of users; track user.id) {
    <li>
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>
    }

    <!-- Before 17 -->
    <!-- <li *ngFor="let user of users; let i = index">
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li> -->

  </ul>

  <!-- Only on Angular 17 -->
  @if (selectedUser) {
  <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
  } @else {
  <p id="users">Select a user to see their tasks</p>}

   <!-- Before 17 -->
   <!-- <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser?.name" />
   <ng-template #fallback>
    <p id="users">Select a user to see their tasks</p>
   </ng-template> -->
  
</main>